.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 50px 0;
  transition: all 0.5s;

  &.fixdHeader {
    background: $dark;
    padding: 15px 0;
    box-shadow: 0 5px 10px rgba(255,255,255,0.1);

    .navbar {
      .logo {
        a {
          img {
            max-width: 250px;
          }
        }
      }
      .mainMenu {
        ul {

          .nav-item {

            .nav-link {

              &.active {

              }

              &.getAQuote {
                background: $dark;
                &:hover {
                  color: $white;
                  &:before {
                    background: $brand;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .navbar {
    padding: 0;

    .logo {
      a {
        img {
          transition: all 0.5s;
          max-width: 310px;
          width: 100%;
        }
      }
    }

    .mainMenu {
      ul {
        align-items: center;

        .nav-item {
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }

          .nav-link {
            color: $white;
            font-size: $f14;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0;

            &.active {

            }

            &.getAQuote {
              background: $brand;
              border: 1px solid $brand;
              padding: 10px 20px;
              transition: all 0.5s;
              position: relative;
              z-index: 1;
              &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background: $brand;
                transition: all 0.5s;
                right: 0;
                margin: 0 auto;
                z-index: -1;
              }
              &:hover {
                color: $white;
                &:before {
                  background: $dark;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}