.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 50px 0;
  .navbar {
    padding: 0;
    .logo {
      a {
        img {

        }
      }
    }
    .mainMenu {
      ul {
        align-items: center;
        .nav-item {
          margin-right: 30px;
          &:last-child {
            margin-right: 0;
          }
          .nav-link {
            color: $white;
            font-size: $f16;
            font-weight: 800;
            text-transform: uppercase;
            padding: 0;
            &.active {

            }
            &.getAQuote {
              background: $brand;
              padding: 18px 20px;
            }
          }
        }
      }
    }
  }
}