.callUsWrap {
  background: url("../../../assets/img/call-us/call-us-bg.jpg") no-repeat scroll top left/cover;
  position: relative; }
  .callUsWrap:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); }
