.latestSlider .latestSliderItem .sliderInner .sliderContent {
  position: relative; }
  .latestSlider .latestSliderItem .sliderInner .sliderContent .sliderInfo {
    position: absolute;
    bottom: 50px;
    width: 100%; }
